<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhml"
	xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Test</title>
    <!--<script type="text/javascript" th:src="@{facebookSdkForJavascript.js}"></script>-->
</head>
<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous"
	        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=1181689132620499&autoLogAppEvents=1"
	        nonce="lNz1aq2w"></script>
    <h1>This is a header</h1>
    <div class="fb-login-button"
         data-width="" data-size="medium"
         data-button-type="login_with"
         data-layout="rounded"
         data-auto-logout-link="false"
         data-use-continue-as="false"></div>
</body>
</html>